@import "./theme.css";

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  background: var(--c-bg);
  color: var(--c-text);
}

a {
  color: var(--c-text);
}

a:visited {
  color: var(--c-text);
}
